<%if not params[:id]%>
    <%=form_tag controller:'employees' %>
<%else%>
    <%= form_tag 'update'%>
<%end%>

  <% if @person.errors.any? || @employee.errors.any? ||  @user.errors.any? %>
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="panel panel-danger">
        <div class="panel-heading">Errores al registrar empleado</div>
          <ul class="list-group">
            <% if @person.errors.any? %>
                 <% @person.errors.full_messages.each do |message| %>
              <li class='list-group-item'><%= message %></li>
            <% end %>
             <%end%>
            <% if @employee.errors.any? %>
                <% @employee.errors.full_messages.each do |message| %>
                    <%if message.match(/\bAgent\b/)!=nil%>
                    <%message.sub! 'Agent', 'identificador de empleado'%>
                    <%end%>
                    <%if message.match(/\bProfession\b/)!=nil%>
                    <%message.sub! 'Profession', 'profesion'%>
                    <%end%>
                    <%if message.match(/\bPosition\b/)!=nil%>
                    <%message.sub! 'Position', 'posicion'%>
                    <%end%>
                    <li class='list-group-item'><%= message %></li>
                <% end %>
            <%end%>
            <% if @user.errors.any? %>
                 <% @user.errors.full_messages.each do |message| %>
              <li class='list-group-item'><%= message %></li>
                <% end %>
            <% end %>
          </ul>
      </div>
    </div>
  <% end %>

<br>

    <%= hidden_field :employee, :id  %>

    <div class="row">
      <div class="col-md-6">

            <div class="field">
              <label>Numero de Identificacion </label> <i class="fa fa-asterisk"></i> <br>
              <%= text_field :person, :identification_number, :class => 'form-control' %>
            </div><br>

            <div class="field">
              <label>Nombre</label> <i class="fa fa-asterisk"></i><br>
              <%= text_field :person, :first_name, :class => 'form-control' %>
            </div><br>

            <div class="field">
              <label>Apellido</label> <i class="fa fa-asterisk"></i><br>
              <%= text_field :person, :last_name, :class => 'form-control' %>
            </div><br>


            <div class="field">
              <div class="field">
                <%= label_tag :pais %><br />
                <%= country_select :person, :country, priority: %w(BO), prompt: 'Seleccione un pais', onload: 'loadCountries()' %>
              </div>
            </div><br>
            <div class="field">
              <div class="field">
                <%= hidden_field :person, :city  %>
                <%= label_tag 'Ciudad' %><br />
                <%= render partial: 'static_pages/subregion_select' %>
              </div>
            </div><br>

        </div>

        <div class="col-md-6">



            <div class="field">
              <label>Direccion</label> <i class="fa fa-asterisk"></i><br>
              <%= text_field :person, :address, :class => 'form-control' %>
            </div><br>
            <div class="field">
              <label>Numero de Telefono</label> <i class="fa fa-asterisk"></i><br>
              <%= text_field :person, :phone_number, :class => 'form-control' %>
            </div><br>
            <div class="field">
              <label>Correo electronico</label> <i class="fa fa-asterisk"></i><br>
              <%= text_field :user, :email, :class=>'form-control'%>
            </div><br>

            <div class="field">
              <label>Posicion</label> <i class="fa fa-asterisk"></i><br>

              <select class="form-control" name="employee[position]" id="user_role">
                <option value="1"> Administrador </option>
                <option value="2"> Receptionista </option>
                <option value="3"> Representante legal </option>
                <option value="4"> Jefe de Unidad </option>
                <option value="5"> Revisor tecnico </option>
              </select>
            </div><br>

            <div class="field">
              <label>Profesion</label> <i class="fa fa-asterisk"></i><br>
              <%= text_field :employee, :profession, :class => 'form-control' %>
            </div><br>

          <!--  <div class="field">
              <label>Identificador de empleado</label ><i class=fa fa-asterisk<>br>
              <%= text_field :employee, :agent_id, :class => 'form-control' %>
            </div><br>-->
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading"><span class="glyphicon glyphicon-asterisk"></span> Indica campo obligatorio</div>
      </div>
    <div class="row center">
        <br>
          <div class="actions">
            <%= submit_tag 'Registrar',class: 'btn btn-default '  %>
          </div>
    </div>
<br>

<script type="text/javascript" charset="utf-8">
    loadCountries();
</script>

<% #end %>
