<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Seguimiento de tramites</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=ge??ometry&language=&hl=&region="></script>
  <%= favicon_link_tag('icons/escudo-cochabamba.ico') %>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body class="skin-black <%= if user_signed_in? then 'sidebar-mini' else 'sidebar-collapse' end %>">

<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><sub>SSTRD</sub></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>SSTRD</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <% if user_signed_in? %>
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <% end %>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="user user-menu">
            <%if user_signed_in? %>
              <li>
                <a href="/users/edit">
                  <i class="fa fa-fw fa-user"></i>
                  <span class="hidden-xs"><%= current_user.person.first_name %>&nbsp;<%= current_user.person.last_name %></span>
                </a>
              </li>
              <% if current_user.role != 3%>
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-bullhorn"></i> Anuncios</a>
              </li>
              <%end%>
              <li>
                <a id="sign-out" rel="nofollow" href="/logout">
                  <i class="fa fa-fw fa-lock"></i>Cerrar Sesion
                </a>
              </li>
          <%end%>

        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <% if user_signed_in? %>
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" id="main-sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <% if current_user.role == 1 %>
              <li style="color: #4db8b2;" class="header main-sidebar-header"><i class="fa fa-gears"></i>&nbsp;&nbsp;<strong>ENCARGADO</strong></li>
            <!-- USUARIOS -->
              <li class="treeview">
                <a href="#"><i class="fa fa-users"></i> <span>Usuarios</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/users"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>
            <!-- FIN USUARIOS -->
            <!-- ROLES -->
            <!--   <li class="treeview">
                <a href="#"><i class="fa fa-object-group"></i> <span>Roles</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/roles/new"><i class="fa fa-plus"></i>Registrar </a></li>
                  <li><a href="/roles"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>-->
            <!-- FIN ROLES -->
            <!-- EMPLEADOS -->
              <li class="treeview">
                <a href="#"><i class="fa fa-file-text-o"></i> <span>Empleados</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/employees/new"><i class="fa fa-plus"></i>Registrar </a></li>
                  <li><a href="/employees"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>
            <!-- FIN EMPLEADOS -->
                <hr>
                <!-- LISTAS DE VERIFICACION -->
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-check-square-o"></i>
                  <span>Listas de Verificacion</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/verification_lists/new"><i class="fa fa-plus"></i>Registrar</a></li>
                  <li><a href="/verification_lists"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>
            <!-- FIN LISTAS DE VERIFICACION-->
            <!-- DOCUMENTOS-->
              <li class="treeview">
                <a href="#"><i class="fa fa-file-text-o"></i> <span>Documentos</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/documents/new"><i class="fa fa-plus"></i>Registrar </a></li>
                  <li><a href="/documents"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>
            <!-- FIN DOCUMENTOS-->
            <!-- TIPO DE TRAMITES -->
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-file-word-o"></i>
                  <span>Tipo de Tr&aacute;mites</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/procedure_types/new"><i class="fa fa-plus"></i>Registrar </a></li>
                  <li><a href="/procedure_types"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>
            <!-- FIN TIPO DE TRAMITES -->
              <!--CATEGORIAS DE LISTAS DE VERIFICACION-->
              <!--<li class="treeview">-->
                <!--<a href="#">-->
                  <!--<i class="fa fa-list-alt"></i>-->
                  <!--<span>Categor&iacute;as de</span><br>-->
                  <!--<span>Listas de Verificaci&oacute;n</span>-->
                  <!--<i class="fa fa-angle-left pull-right"></i>-->
                <!--</a>-->
                <!--<ul class="treeview-menu" style="display: none;">-->
                  <!--<li><a href="/list_categories/new"><i class="fa fa-plus"></i>Registrar </a></li>-->
                  <!--<li><a href="/list_categories"><i class="fa fa-list"></i>Ver Lista</a></li>-->
                <!--</ul>-->
              <!--</li>-->
            <!-- FIN CATEGORIAS DE LISTAS DE VERIFICACION -->

            <%end%>
            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  RECEPCIONISTA  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
            <% if current_user.role == 2 || current_user.role == 1%>
                <li style="color: #4db8b2;" class="header main-sidebar-header"><i class="fa fa-phone"></i>&nbsp;&nbsp;<strong>RECEPCIONISTA</strong></li>
                <!-- ROLES -->
                <li class="treeview">
                  <a href="#"><i class="fa fa-building"></i> <span>Compa&#241;ias</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu" style="display: none;">
                    <li><a href="/companies/new"><i class="fa fa-plus"></i>Registrar </a></li>
                    <li><a href="/companies"><i class="fa fa-list"></i>Ver Lista</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-briefcase"></i> <span>Representante legal</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu" style="display: none;">
                    <li><a href="/legal_agents/new"><i class="fa fa-plus"></i>Registrar</a></li>
                    <li><a href="/legal_agents"><i class="fa fa-list"></i>Ver Lista</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-star"></i> <span>Proyectos</span> <i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu" style="display: none;">
                        <li><a href="/projects/new"><i class="fa fa-plus"></i>Registrar </a></li>
                        <li><a href="/projects"><i class="fa fa-list"></i>Ver Lista</a></li>
                      </ul>
                </li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-object-group"></i> <span>Tramites</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu" style="display: none;">
                    <li><a href="/procedures/begin"><i class="fa fa-play"></i>Iniciar Tr&aacute;mite</a></li>
                    <li><a href="/procedures"><i class="fa fa-list"></i>Ver Lista</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-bullhorn"></i> <span>Anuncios</span> <i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu" style="display: none;">
                        <li><a href="/employeeAnnouncements"><i class="fa fa-list"></i>Ver Lista</a></li>
                      </ul>
                </li>
            <%end%>
                <!-- @@@@@@@@@@@@@@@@@@@@@ JEFE DE UNIDAAAD -->
              <% if current_user.role == 4%>
                <li style="color: #4db8b2;" class="header main-sidebar-header"><i class="fa fa-user-secret"></i>&nbsp;&nbsp;<strong>JEFE DE UNIDAD</strong></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-building"></i> <span>Compañias</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu" style="display: none;">
                    <li><a href="/companies"><i class="fa fa-list"></i>Ver Lista</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-star"></i> <span>Proyectos</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu" style="display: none;">
                    <li><a href="/projects"><i class="fa fa-list"></i>Ver Lista</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-object-group"></i> <span>Tr&aacute;mites</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu" style="display: none;">
                    <li><a href="/procedures"><i class="fa fa-list"></i>Ver Lista</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-bullhorn"></i> <span>Anuncios</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu" style="display: none;">
                    <li><a href="/announcements/new"><i class="fa fa-plus"></i>Registar</a></li>
                    <li><a href="/announcements"><i class="fa fa-list"></i>Ver Lista</a></li>
                  </ul>
                </li>
            <%end%>
            <!-- @@@@@@@@@@@@@@@@@@@@@ REVISOR -->
            <% if current_user.role == 5 %>
              <li style="color: #4db8b2;" class="header main-sidebar-folder"><i class="fa fa-phone"></i>&nbsp;&nbsp;<strong>REVISOR</strong></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-star"></i> <span>Proyectos</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu" style="display: none;">
                    <li><a href="/projects"><i class="fa fa-list"></i>Ver Lista</a></li>
                  </ul>
                </li>
              <li class="treeview">
                <a href="#"><i class="fa fa-object-group"></i> <span>Tr&aacute;mites</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/procedures"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#"><i class="fa fa-bullhorn"></i> <span>Anuncios</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/employeeAnnouncements"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>
            <%end%>
            <% if current_user.role == 3%>
              <li style="color: #4db8b2;" class="header main-sidebar-folder"><i class="fa fa-phone"></i>&nbsp;&nbsp;<strong>REPRESENTANTE LEGAL</strong></li>
              <li class="treeview">
                <a href="#"><i class="fa fa-object-group"></i> <span>Tr&aacute;mites</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/procedures"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#"><i class="fa fa-star"></i> <span>Proyectos</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: none;">
                  <li><a href="/projects"><i class="fa fa-list"></i>Ver Lista</a></li>
                </ul>
              </li>

            <%end%>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>
  <% end %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper white-wall" style="min-height: 378px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= yield %>
          </div>
          <div class="col-md-1"></div>
      </div>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer" style="max-height: 60px">
    <!-- To the right -->
    
    <!-- Default to the left -->
    <strong>  <a href="https://www.ucbcba.edu.bo/"><%= image_tag( 'logo-UCB.png', { height: '40px', width: '30px' } ) %> Universidad Cat&oacute;lica Boliviana "San Pablo"</a> <%= Date.today.year %> </strong> Cochabamba
  </footer>

  <!-- Control Sidebar -->
  <% if user_signed_in? %>
      <% @announcements = getAnnouncements %>
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab" tabindex="-1"><i class="fa fa-male"></i> Personales</a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab" tabindex="-1"><i class="fa fa-globe"></i> Globales</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <% if @announcements[:personal].empty? %>
                <h3 class="control-sidebar-heading">No existen anuncios para mostrar</h3>
            <% else %>
                <h3 class="control-sidebar-heading">Anuncios</h3>
            <% end %>
            <ul class="control-sidebar-menu">
              <% @announcements[:personal].each do |announcement| %>
                  <li>
                    <div class="menu-info">
                      <h4 class="control-sidebar-subheading"><%= announcement.title %></h4>
                      <p><%= announcement.content %></p>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
              <% if @announcements[:global].empty? %>
                  <h3 class="control-sidebar-heading">No existen anuncios para mostrar</h3>
              <% else %>
                  <h3 class="control-sidebar-heading">Anuncios</h3>
              <% end %>
              <ul class="control-sidebar-menu">
                <% @announcements[:global].each do |announcement| %>
                    <li>
                      <div class="menu-info">
                        <h4 class="control-sidebar-subheading"><%= announcement.title %></h4>
                        <p><%= announcement.content %></p>
                      </div>
                    </li>
                <% end %>
              </ul>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
  <% end %>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
</div><!-- ./wrapper -->
</body>
</html>
